<%= form_with(model: problem, local: true) do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
        <% problem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="flex flex-row flex-1 justify-center">
    <div class="flex flex-1"></div>
    <div class="flex flex-col flex-1">
      <%= form.label  :name %>
      <%= form.text_field  :name, class: "py-2 px-4 border border-gray-400 rounded" %>

      <%= form.label  :link %>
      <%= form.text_field  :link, class: "py-2 px-4 border border-gray-400 rounded" %>

      <%= form.label  :status %>
      <%= form.text_field  :status, class: "py-2 px-4 border border-gray-400 rounded" %>

      <%= form.label  :site_name %>
      <%= form.text_field  :site_name, class: "py-2 px-4 border border-gray-400 rounded" %>

      
      <%= form.label  :description %>
      <%= form.rich_text_area  :description, class: "py-2 px-4 border border-gray-400 rounded" %>
      
    </div>
    <div class="flex flex-1"></div>
  </div>
  

  <div class="flex flex-row flex-1 items-center justify-center my-2">
    <%= form.submit "Save Data", class: "btn-primary" %>
  </div>
<% end %>
