<p id="notice"><%= notice %></p>

<div class="flex flex-row flex-1 min-h-screen"> 
  <div class="flex flex-row flex-1 justify-center items-center">
    <div class="flex flex-col px-20 py-20 shadow-xl">
      <div class="text-xl text-gray-800 font-bold">
        Name: <%= link_to @problem.name, @problem.link, class: "hover:text-blue-400" %>
      </div>
      <div class="text-xl text-gray-800 font-bold">
        Site: <%= @problem.site_name %>
      </div>
      <div class="text-xl text-gray-800 font-bold">
        Status: <%= @problem.status %>
      </div>
      <div class="text-xl text-gray-800 font-bold">
        Description: <%= @problem.description %>
      </div>
      <div class="flex flex-row flex-1 my-2">
        <%= link_to 'Edit', edit_problem_path(@problem), class: "btn-primary"%>
        <%= link_to 'Back', problems_path, class: "btn-alert" %>
      </div>
    </div>
  </div>
</div>


