<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="flex flex-row flex-1 justify-center">
    <div class="flex flex-1"></div>
    <div class="flex flex-col flex-1">
      <%= form.label  :full_name %>
      <%= form.text_field  :full_name, class: "py-2 px-4 border border-gray-400 rounded" %>

      <%= form.label  :email %>
      <%= form.text_field  :email, class: "py-2 px-4 border border-gray-400 rounded" %>

      <%= form.label  :github %>
      <%= form.text_field  :github, class: "py-2 px-4 border border-gray-400 rounded" %>

      <%= form.label  :twitter%>
      <%= form.text_field  :twitter, class: "py-2 px-4 border border-gray-400 rounded" %>
    </div>
    <div class="flex flex-1"></div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
