<!DOCTYPE html>
<html>
  <head>
    <title>Fast SandStrom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=" flex flex-row flex-1 justify-center bg-blue-400 text-white font-bold">
      <%= notice %>
    </div>
    <div class=" flex flex-row flex-1 justify-center bg-red-400 text-white font-bold">
      <%= alert %>
    </div>
    <% if user_signed_in? %>
      <%= render "partials/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>